<h1>Please sign in</h1>
<p>
<%= form_with(url: "/login", method: "post") do %>
    <%= label_tag(:username, "Username:") %>
    <%= text_field_tag(:username) %>
    <%= label_tag(:password, "Password:") %>
    <%= password_field_tag(:password) %>
    <%= submit_tag("Login") %>
  <% end %>
</p>
