<h1>Venues</h1>
<div class="container">
  <div class="row">
<% @venues.each do |venue| %>
    <div class="col-sm-4">
  <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= venue.name %></h5>
    <a href="<%= venue_path(venue.id) %>" class="btn btn-primary">Details</a>
  </div>
</div>
    </div>
<% end %>
  </div>
</div>