<h1><%= @venue.name %><br></h1>
<h2>Bookings</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">From</th>
      <th scope="col">To</th>
      <th scope="col">Booked By</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
<% @venue.bookings.each do |booking| %>
    <tr>
      <td><%= booking.from %></td>
      <td><%= booking.to %></td>
      <td><%= booking.user.username %></td>
      <td>
    <% if booking.user == current_user %>
    <%= link_to "Cancel", venue_booking_path(@venue, booking), method: :delete, :confirm => "Are you sure you want to delete this booking?" %>
      <% end %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<p>
<a href="<%= new_venue_booking_path(@venue.id) %>">
<button type="button" class="btn btn-primary">Book this venue</button>
</a>
</p>

<p>
<a href="<%= venues_path %>">
<button type="button" class="btn btn-primary">Other venues</button>
</a>
</p>